[defaults]
inventory = hosts
remote_user = ubuntu
private_key_file = ~/.ssh/id_ed25519
host_key_checking = False
interpreter_python = "/usr/bin/python3"

[privilege_escalation]
become = no
become_ask_pass = false
